h1 {
    text-align: center;
    padding: 2rem;
}

h2 {
    text-align: center;
}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    padding-right: 16px;
}

nav ul li {
    margin: 16px;
}

a {
    text-decoration: none !important;
}

.gradient {
    background-image: linear-gradient(to right, #6896c5 , #d5eaff);
}

.form {
    width: 360px;
}

.card-box {
    border-radius: 8px;
    width: 360px;
    height: 190px;
    padding: 16px;
    color: #333;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem;
    border: none;
    line-height: 1;
}

.card-box .card-chip {
    width: 40px;
}

.card-box .card-logo {
    height: 30px;
}

.card-box .card-logo-wrapper {
    display: flex;
    justify-content: flex-end;
    height: 30px;
}

.text-3xl {
    font-size: 8rem;
}

.text-red {
    color: rgb(184, 63, 63);
}